@import 'base';

div.title-block {
  font-size: 15pt;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 2px;
  border-left: 1px solid $header_color;
  border-bottom: 1px solid $header_color;
  display: inline-block;
  width: 200px
}

.emphasize {
  text-decoration: underline
}

div.wrapper {
  float: left;
  width: 100%;
}

nav#menu {
  float: left;
  width: $nav_width;
  margin-left: -100%;
  padding-left: 5px;
}

main {
  float: left;
  margin-left: $nav_width;
}
