$header_color: #5092b9;
$nav_width_full: 160px;
$nav_width_small: 140px;

html {
  overflow-y: scroll;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  border: 1px solid;
  padding: 3px;
}

th {
  border: 1px solid;
  background-color: #DDDDDD;
  padding: 5px;
}

.clearer {
  clear: both;
}
