span.conduct {
  font-size: 10pt;
  font-family: monospace;
}

span.Foodless {
  background-color: brown;
}

span.Vegetarian {
  background-color: lightgreen;
}

span.Vegan {
  background-color: yellow;
}

span.Atheist {
  background-color: lightblue;
}

span.Weaponless {
  background-color: pink;
}

span.Pacifist {
  background-color: goldenrod;
}

span.Illiterate {
  background-color: lightsteelblue;
}

span.Polypileless {
  background-color: plum;
}

span.Polyselfless {
  background-color: aquamarine;
}

span.Wishless {
  background-color: grey;
}

span.ArtiWishing {
  background-color: grey;
}

span.Genocideless {
  background-color: cyan;
}
