@import 'base';

button.datatable {
  padding: 8px;
  background-color: white;
  border: 1px solid #AAAAAA;
}

button.datatable:hover:enabled {
  background-color: #AAAAAA;
  color: white;
}

div.datatable-head {
  text-align: right;
  margin-bottom: 2px
}

span.datatable-range {
  margin: 0 5px;
}

.sortable {
  position: relative;
}

.sortable {
  padding-right:18px
}

.sortable::before,
.sortable::after {
  margin: 5px;
  content: ' ';
  height: 0px;
  right: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

th.sortable a {
  width: 100%;
  color: #0c6b29;
  text-decoration: none;
}

th.sortable {
  background-color: #8ad4ff;
}

.sortable.sort-up::before {
  border-bottom-color: black;
}

.sortable.sort-down::after {
  border-top-color: black;
}

.sortable::after {
  border-top: 5px solid transparent;
}

.sortable::before {
  border-bottom: 5px solid transparent;
}
