table {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    padding: 3px;
}

th {
    border: 1px solid;
    background-color: #DDDDDD;
    padding: 5px;
}

div.title-block {
    font-size: 15pt;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 2px;
    border-left: 1px solid #5092b9;
    border-bottom: 1px solid #5092b9;
    display: inline-block;
    width: 200px
}
