{% extends "layout.html" %}
{% block body %}
<p>Welcome to AusNethack, Australia's first
<a href="http://www.nethack.org">NetHack</a> server.</p>

<h1>The Server</h1>

<p>
To play NetHack, simply run the following in your console:
</p>

<pre>
ssh play@ausnethack.com
</pre>

<p>
You will be asked to create a username and password, and give us your
email. We will never send you email except if you forget your password.
</p>


<h1>What is AusNethack?</h1>

AusNethack is Australia's first public
<a href="http://www.nethack.org">Nethack</a> server. There is already a great
<a href="https://alt.org/nethack">Nethack server at alt.org</a>.
Unfortunately for those of us on the other side of the world, it is hosted 
on the East coast of the USA, so the latency is
a bit high. Hence, AusNethack was born to
provide a fast server for the Oceanic region of the world.

Building a complete working server is a big job, so this site is a
little light on functionality. The aim is that the functionality that 
<span class="emphasize">does exist</span> is correct.
If you find any bugs the please {% include "contact_us.html" %} or
submit a pull request on our github repository.

We are also experimenting with the sorts of game statistics that are useful,
so {% include "contact_us.html" %} if you have any ideas or requests.

<h1>News</h1>

<dl class="news">
  <dt>2017-02-15</dt>
  <dd>You can now log in and edit your configuration on the web.</dd>

  <dt>2017-03-13</dt>
  <dd>We now have the experimental NetHack 3.6.1, which includes dumplogs.</dd>
</dl>

<h1>Git Repository</h1>

Pull requests are accepted. If you see anything that is broken, or have an idea
for improvement, feel free to open an
<a href="{{config.SITE_GITHUB}}/issues">issue</a> or submit a pull request.

The git repositories are:
<ul>
<li><a href="{{config.SITE_GITHUB}}">AusNethack (this web site)</a></li>
<li><a href="{{config.LAUNCHER_GITHUB}}">Game launcher</a></li>
<li><a href="{{config.NETHACK_GITHUB}}">Our Nethack fork</a></li>
</ul>

{% endblock %}
