<!doctype html>
<html>
<head>
<title>{{ config.page }} {% if config.page %}-{% endif %} 
{{ config.SERVERNAME }}</title>
<link rel="stylesheet" href="{{ asset_url('css/main.css') }}" />
<link rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>
<header>
<div class="title-block">
<a href="/">AusNethack</a>
</div>
</header>
<div class="wrapper">
<main>
{% block body %}{% endblock %}
</main>
<nav id="menu">
{% include "navbar.html" %}
</nav>
</div>
</body>
</html>
