{% extends "layout.html" %}
{% block body %}
<h1>
Game config for {{username}}
</h1>
<ul>
  <li>
    <a href="/user/{{username}}">User page</a>
  </li>
</ul>
<form method="POST">
  <div>
    <textarea
      style='width:90ex; height: 50ex'
      name="config">{{ contents }}</textarea>
  </div>

  {% if g.user and g.user.username == username %}
  <div>
    <input type="hidden" value="{{g.csrf}}" name="csrf" />
    <button type="submit">Save</button> {{savemessage}}
  </div>
  {% endif %}
</form>
{% endblock %}
