{% extends "layout.html" %}
{% block body %}
<h1>Z-scores</h1>
<p>
<a href="https://alt.org/nethack/zscore-current.html">Z-scores</a>
take into account the number of games that you have won as each
role. You get a point for the first ascension for a role, then 1/2 points
for the next ascension, 1/3 for the next, and so on. To get more points,
ascend more roles.
</p>
{% if not scores %}
<p>No games have been won yet. Win a game to see your zscore.</p>
{% else %}
<table>
<tr>
  <th>Player</th>
  {% for role in roles %}
    <th>{{ role }}</th>
  {% endfor %}
  <th>Total</th>
</tr>
{% for s in scores %}
<tr>
  <td>{{ s.plname }}</td>
  {% for role in roles %}
  <td>
  {% if s.zscore.roles[role] is defined %}
    {{ s.zscore.roles[role] }}
  {% else %}
    0.0
  {% endif %}
  </td>
  {% endfor %}
  <td>{{ s.zscore.total }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
